<!doctype html>
<html>
  <head>
    <title>JVDA Hold'em</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/chat/index.js" defer></script>
  </head>
  <body class="bg-gray-200">
    <div class="flex h-screen">
      <div class="flex flex-col justify-end items-center px-4">
        <div class="flex flex-col justify-end gap-2 mb-5">
          <%- include("../partials/Button.ejs", {buttonText: "Create Game"}) %> 
          <%- include("../partials/Button.ejs", {buttonText: "Settings"}) %> 
          <%- include("../partials/Button.ejs",
          {buttonText: "Logout", link: "/auth/logout"}) %>
        </div>
      </div>
      <div class="flex flex-col flex-grow items-center">
        <h1 class="text-6xl border-x border-b border-black shadow-xl text-black w-full text-center p-6">
          Games
        </h1>
        <div class="flex bg-neutral-400 flex-col items-center gap-5 p-4 w-full h-full overflow-y-auto scrollbar-hide">
          <%- include("./GameRow.ejs", {name: "Jake's Game", currentPlayers: 5, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
          <%- include("./GameRow.ejs", {name: "Varun's Game", currentPlayers: 2, maxPlayers: 8}) %>
        </div>
      </div>
      <div class="flex">
        <%- include ('../partials/Chat.ejs') %>
      </div>
    </div>
  </body>
</html>
