<button
  type="<%= typeof type !== 'undefined' ? type : 'button' %>"
  <% if (typeof id !== 'undefined') { %>
    id="<%= id %>"
  <% } %>
  class="bg-blue-500 hover:bg-blue-600 text-white text-lg rounded-md px-5 py-1 poker-button"
>
  <% if (typeof link !== 'undefined') { %>
    <a href="<%= link %>"><%= buttonText %></a>
  <% } else { %>
    <%= buttonText %>
  <% } %>
</button>
