<button
  type="<%= typeof type !== 'undefined' ? type : 'button' %>"
  <% if (typeof id !== 'undefined') { %>
    id="<%= id %>"
  <% } %>
  class="bg-blue-500 hover:bg-blue-600 text-white text-lg rounded-md px-5 py-1 poker-button"
>
  <% if (typeof link !== 'undefined') { %>
    <a href="<%= link %>" target="_blank" ><%= buttonText %></a>
  <% } else if (typeof player !== 'undefined') { %>

      <div class="flex flex-col flex-nowrap">
        <div class="username"><%= player.username %></div>
        <div class="stake">Stake: $<%= player.stake %></div>
        <div class="bet">Bet: $<%= player.bet %></div>
        <div class="status"><%= player.status %></div>
      </div>
  <% } else { %>
    <%= buttonText %>
  <% } %>
</button>
