<html>
  <head>
    <title>JVDA Hold'em</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-gray-200">
    <div class="flex h-screen gap-8">
      <div class="flex flex-col justify-end items-center gap-4 px-4 -mr-8">
        <div class="flex flex-col justify-end gap-2 mb-5">
          <%- include("./partials/CustomButton.ejs", {buttonText: "Create
          Game"}) %> <%- include("./partials/CustomButton.ejs", {buttonText:
          "Settings"}) %> <%- include("./partials/CustomButton.ejs",
          {buttonText: "Logout"}) %>
        </div>
      </div>
      <div class="flex flex-col flex-grow items-center">
        <h1
          class="text-6xl rounded-b-lg border-x border-b border-black shadow-xl text-black w-full text-center p-6"
        >
          Games
        </h1>
        <div
          class="flex bg-neutral-400 rounded-lg flex-col items-center gap-5 p-4 my-5 w-full h-full overflow-x-hidden overflow-y-auto"
        >
          <%- include("./partials/GameJoin.ejs", {name: "Jake's Game",
          currentPlayers: 5, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %> <%-
          include("./partials/GameJoin.ejs", {name: "Varun's Game",
          currentPlayers: 2, maxPlayers: 8}) %>
        </div>
      </div>
      <div class="flex my-5 mr-2"><%- include ('chatbox') %></div>
    </div>
  </body>
</html>
