<html>
  <head>
    <link rel="stylesheet" href="/css/poker-table.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const seats = document.querySelectorAll(".seat");

        // Loop through each seat and add a click event listener to the button
        seats.forEach(function(seat) {
          const button = seat.querySelector("button");
          button.addEventListener("click", function() {
            const currentTextContent = this.textContent;
            
            if(currentTextContent === "Join") {
              return this.textContent = "Waiting";
            }

            this.textContent = "Join";
          })
        })
      })
    </script>
  </head>

  <body>

    <div class="game-lobby">
      <%- include("./poker-table.ejs") %>

      <div class="actions-grid">
        <div class="seat action-1">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>

        <div class="seat action-2">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>

        <div class="seat action-3">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>

        <div class="seat action-4">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>

        <div class="seat action-5">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>

        <div class="seat action-6">
          <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
        </div>
      </div>


      <div class="game-name">
          <%= gameName %>
      </div>

      <div class="game-interactions">

        <div class="left-interactions">

          <div class="bet-amount">
            <label for="bet-amount">Bet: </label>
            <input id="bet-amount" name="bet-amount" type="text" placeholder="Amount" />
          </div>

          <div class="quit-button">
            <%- include("../partials/CustomButton.ejs", {buttonText: "Quit Game"}) %>
          </div>
        </div>

      </div>


    </div> 
    

  </body>
</html> 

