<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/poker-table.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/poker-card.css" />
    <script src="/js/index.js" type="text/javascript" defer></script>
  </head>
  <body class="scrollbar-hide">
    <div class="game-container">
      <div class="game-lobby">
        <div class="poker-table-container">
          <%- include("./PokerTable.ejs") %>
          <div class="actions-grid">
            <% if (players.player_1) { %>
              <div class="seat action-1">
                <%- include("../partials/Button.ejs", {buttonText: players.player_1 }) %>
                <% if (thisPlayerPosition === 1) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-1">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <% if (players.player_2) { %>
              <div class="seat action-2">
                <%- include("../partials/Button.ejs", {buttonText: players.player_2 }) %>
                <% if (thisPlayerPosition === 2) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-2">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <% if (players.player_3) { %>
              <div class="seat action-3">
                <%- include("../partials/Button.ejs", {buttonText: players.player_3 }) %>
                <% if (thisPlayerPosition === 3) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-3">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <% if (players.player_4) { %>
              <div class="seat action-4">
                <%- include("../partials/Button.ejs", {buttonText: players.player_4 }) %>
                <% if (thisPlayerPosition === 4) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-4">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <% if (players.player_5) { %>
              <div class="seat action-5">
                <%- include("../partials/Button.ejs", {buttonText: players.player_5 }) %>
                <% if (thisPlayerPosition === 5) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-5">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <% if (players.player_6) { %>
              <div class="seat action-6">
                <%- include("../partials/Button.ejs", {buttonText: players.player_6 }) %>
                <% if (thisPlayerPosition === 6) { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card1.suit, number: thisPlayerCards.card1.value, hidden: false}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: thisPlayerCards.card2.suit, number: thisPlayerCards.card2.value, hidden: false}) %>
                  </div>
                <% } else { %>
                  <div class = "card-container">
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                    <%- include("../partials/PokerCard.ejs", {suit: "hearts", number: 2, hidden: true}) %>
                  </div>
                <% } %>
              </div>
            <% } else { %>
              <div class="seat empty-seat action-6">
                <%- include("../partials/Button.ejs", {buttonText: "Join"}) %>
              </div>
            <% } %>

            <div class="card-area <%= gameStage === 'waiting' ? 'hidden' : '' %>">
              <%- include("../partials/PokerCard.ejs", {
                suit: communityCards?.flop_1?.suit || '',
                number: communityCards?.flop_1?.value || 0,
                hidden: !(gameStage === 'flop' || gameStage === 'turn' || gameStage === 'river' || gameStage === 'final'),
              }) %>
              <%- include("../partials/PokerCard.ejs", {
                suit: communityCards?.flop_2?.suit || '',
                number: communityCards?.flop_2?.value || 0,
                hidden: !(gameStage === 'flop' || gameStage === 'turn' || gameStage === 'river' || gameStage === 'final'),
              }) %>
              <%- include("../partials/PokerCard.ejs", {
                suit: communityCards?.flop_3?.suit || '',
                number: communityCards?.flop_3?.value || 0,
                hidden: !(gameStage === 'flop' || gameStage === 'turn' || gameStage === 'river' || gameStage === 'final'),
              }) %>
              <%- include("../partials/PokerCard.ejs", {
                suit: communityCards?.turn?.suit || '',
                number: communityCards?.turn?.value || 0,
                hidden: !(gameStage === 'turn' || gameStage === 'river' || gameStage === 'final'),
              }) %>
              <%- include("../partials/PokerCard.ejs", {
                suit: communityCards?.river?.suit || '',
                number: communityCards?.river?.value || 0,
                hidden: !(gameStage === gameStage === 'river' || gameStage === 'final'),
              }) %>
            </div>

          </div>
        </div>

        <div class="game-name"><%= gameName %></div>

        <div class="game-interactions">
          <div class="left-interactions">
            <div class="bet-amount">
              <label for="bet-amount">Raise: </label>
              <input
                id="bet-amount"
                name="bet-amount"
                type="text"
                placeholder="Amount"
              />
            </div>
            <div class="quit-button">
              <%- include("../partials/Button.ejs", {buttonText: "Quit Game"}) %>
            </div>
            <div class="home-button">
              <%- include("../partials/Button.ejs", {buttonText: "Home", link: "/home"}) %>
            </div>
          </div>
          <div class="center-interactions">
            <div class="start-button <%= (players.player_count >= 4 && gameStage === 'waiting') ? '' : 'hidden' %>">
              <%- include("../partials/Button.ejs", {buttonText: "Start"}) %>
            </div>
            <div class="user-name">Playing as: <%= userName %></div>
          </div>
          <div class="right-interactions">
            <div id="call-check-button" class="call-check-button">
              <%- include("../partials/Button.ejs", {buttonText: "Call/Check"}) %>
            </div>

            <div id="raise-button" class="raise-button">
              <%- include("../partials/Button.ejs", {buttonText: "Raise"})
              %>
            </div>

            <div id="fold-button" class="fold-button">
              <%- include("../partials/Button.ejs", {buttonText: "Fold"}) %>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-box">
        <%- include("../partials/Chat.ejs", {roomID: id}) %>
      </div>
    </div>
  </body>
</html>
